DATABASE_URL="postgresql://yourusername:yourpassword@localhost:5432/prisma_db?schema=public"
MAKE_BASE_URL=https://eu2.make.com
MAKE_API_VERSION=/api/v2
MAKE_API_KEY=your_make_api_key
MAKE_ORG_ID=your_make_organization_id
APP_MODE=development
DEBUG = *